<app-menuauxiliar rutaDeseada="/productos"></app-menuauxiliar>
<div class="contenedor">
    <form action="/productos">
        <h2>Registrar Producto</h2>
        
        <label for="nombre">NOMBRE:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="precioCompra">PRECIO COMPRA:</label>
        <input type="number" id="precioCompra" name="precioCompra" required step="0.01">

        <label for="precioVenta">PRECIO VENTA:</label>
        <input type="number" id="precioVenta" name="precioVenta" required step="0.01">

        <label for="cantidad">CANTIDAD:</label>
        <input type="number" id="cantidad" name="cantidad" required>

        <input type="submit" value="Registrar">
    </form>
</div>
