<app-menuauxiliar rutaDeseada="/tipoproductos"></app-menuauxiliar>
<div class="contenedor">
    <form action="/tipoproductos">
        <h2>Registrar Tipo de Producto</h2>

        <label for="identificacion">ID:</label>
        <input type="number" id="identificacion" name="identificacion" required>

        <label for="venta_id">VENTA_ID:</label>
        <input type="number" id="venta_id" name="venta_id" required>

        <label for="producto_id">PRODUCTO_ID</label>
        <input type="number" id="producto_id" name="producto_id" required>

        <input type="submit" value="Registrar">
    </form>
</div>
