<div class="contenedor">
    <app-menuauxiliar rutaDeseada="/productos"></app-menuauxiliar>

    <table class="tabla">
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>PRECIO DE COMPRA</th>
            <th>PRECIO DE VENTA</th>
            <th>CANTIDAD</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Arroz</td>
            <td>3.500</td>
            <td>4.000</td>
            <td>100 unidades</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Frijoles</td>
            <td>2.800</td>
            <td>3.200</td>
            <td>80 unidades</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Aceite de cocina</td>
            <td>6.500</td>
            <td>7.200</td>
            <td>50 unidades</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Leche</td>
            <td>2.000</td>
            <td>2.500</td>
            <td>200 unidades</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Carne de res</td>
            <td>15.000</td>
            <td>18.000</td>
            <td>10 unidades</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Pan</td>
            <td>1.500</td>
            <td>1.800</td>
            <td>150 unidades</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Huevos</td>
            <td>1.200</td>
            <td>1.500</td>
            <td>30 unidades</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Atún enlatado</td>
            <td>4.000</td>
            <td>4.500</td>
            <td>40 unidades</td>
          </tr>

    </table>

</div>